/* .App {
  text-align: center;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
} */

.App {
  display: flex !important;
  height: 75vh !important;
  overflow: hidden !important;
}

body {
  overflow: hidden !important;
}

.formDiv {
  justify-content: center;
  display: flex;
  align-items: center;
}

.App-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.App-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.fileInput {
  cursor:pointer !important;
  @media (max-width: 576px) {
    width: 200px;
  }
}

.formDiv {
  @media (max-width: 576px) {
    flex-direction: column;
    row-gap: 20px;
  }
}

.footer {
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
  background-color: #282c34 !important;
  color: white !important;
  text-align: center !important;
  padding: 10px !important;
}